html{
  background-color: white;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: left;
}
nav p:nth-child(4){
  color: #ff3998;
}
nav p{
  display: inline;
  margin: 0;
  font-size: medium;
}
nav {
  color: black;
display: flex;
flex-direction: row;
justify-content:flex-end ;
align-items: center;
padding: 0px;
}

.class{
  color: #ff3998;
}

main {
  padding: 15px;
   margin: 0;

}

h3{
  padding: 15;
  color: #ff3998;
}
p{
  margin: 0;
  padding: 0;
  font-size: 96px;
  height: 232px;
  width: 620px;
  left: 80px;
  top: 349px;
}
h4{
  height: 60px;
  width: 537px;
  left: 80px;
  top: 613px;

}
.image1{
position: absolute;
width:auto;
height: auto;
right: 261px;
top: 200px;
}
.imagecontainer{
  display: flex;
  justify-content: space-evenly;
}
.imagecontainer img{
  width: 100px;
  height: 50px;
  margin-right: 25px;
}
.div h2{
  color: black;
  font-size: 40px;
}
.div h4{
  color: black;
  font-size: 20px;
}
.imagecontainer{
  display: flex;
  justify-content: space-around;
}
.imagecontainer img{
  width: 75px;
  height: 125px;
  margin: 15px;
}

.container {
  display: inline;
}
img{
  display: inline-flex;
}
footer {
  display: block;
}
div i{
  display: inline;
  color: black;
}